@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
        <h3>
            <a class="nav-link text-dark" asp-controller="Group" asp-action="GroupIndex">Groups</a>
        </h3>

        <h3>
            <a class="nav-link text-dark" asp-controller="Student" asp-action="StudentIndex">Students</a>
        </h3>
</div>
