@using SoftgenTask11.ViewModels;
@model GroupCreateViewModel
@{
    ViewData["Title"] = "Groups";
}

<form enctype="multipart/form-data" asp-controller="Group" asp-action="AddGroup" method="post">
    <div class="row">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        @*<span asp-validation-for="Name" class="text-danger"></span>*@
    </div>
    <div class="row">
        <label asp-for="Number"></label>
        <input asp-for="Number" />
        @*        <span asp-validation-for="Email" class="text-danger"></span>
        *@
    </div>
        <div class="m-3">

            <button type="submit">Create</button>
        </div>

</form>