@model LecturerAddViewModel
@{
    ViewData["Title"] = "Add Lecturer";
}

<form asp-controller="Lecturer" asp-action="AddLecturer" method="post">
    <div class="row">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
    </div>
    <div class="row">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        @*        <span asp-validation-for="Email" class="text-danger"></span>
        *@
    </div>
    <div class="row">
        <label asp-for="PersonalNumber"></label>
        <input asp-for="PersonalNumber" />
    </div>
    <div class="row">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div class="row">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" />
    </div>

    <div class="m-3">

        <button type="submit">Create</button>
    </div>

</form>
